* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
  background:#192129;
}
.App {
    max-width:800px;
    padding:0 16px;
    margin:0 auto;
    font-family: 'Verdana', 'Helvetica', sans-serif;
    color:#f4f4f4;
}
header {
    padding:16px 0;
    font-size:20px;
    text-transform:uppercase;
}
.guitar {
    padding:16px;
    background:#687a8c;
}

.guitar-body-container {
    margin:0 0 32px;
    display:flex;
    justify-content:flex-end;
}
.guitar-body {
    width:250px;
    height:160px;
    padding:24px 0;
    background:#543;
    position:relative;
}
.guitar-body::before {
    content:'';
    width:130px;
    height:130px;
    position:absolute;
    top:11px;
    left:40px;
    z-index:0;
    background:#321;
    border:4px solid #210;
    border-radius:50%;
}
.guitar-body::after {
    content:'';
    width:8px;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    background:#dcb;
}

.body-strings {
    height:100%;
    position:relative;
    display:flex;
    flex-direction:column;
}
.body-string {
    flex-grow:1;
    position:relative;
    z-index:10;
}
.body-string::before {
    content:'';
    width:100%;
    height:2px;
    position:absolute;
    top:50%;
    left:0;
    margin-top:-1px;
    background:#fee;
}

.strum-dir-btn {
    width:40px;
    height:40px;
    text-align:center;
    line-height:44px;
    position:absolute;
    top:6px;
    right:14px;
    z-index:20;
    font-size:30px;
    background:#908172;
    box-shadow:-2px 3px 6px -2px rgba(0,0,0,0.6);
    border:2px solid white;
    border-radius:4px;
    cursor:pointer;
}
.strum-dir-btn:hover {
    background:#ab9b8c;
}

.strum-dir-btn input {
    width:0;
    height:0;
    position:absolute;
    opacity:0;
}

#strings-marker {
    position:absolute;
    top:0;
    left:40%;
    width:16px;
    background:rgba(255,240,225,0.6);
    border:1px solid #fff;
    border-radius:100px;
    pointer-events:none;
}


.fretboard-container {
    display:flex;
    overflow:hidden;
    position:relative;
}
.fretboard-container svg {
    display:block;
}
.fretboard-bg {
    background:#402f1f;
}


.mute-btns {
    display:flex;
    flex-direction:column-reverse;
}
.mute-btn input {
    width:0;
    height:0;
    position:absolute;
    opacity:0;
}
.mute-btn label {
    width:16px;
    height:16px;
    display:block;
    background:rgba(204, 187, 170, 0.5);
    border:1px solid #fff;
    border-radius:2px;
    position:relative;
    cursor:pointer;
}
.mute-btn input:checked + label::before,
.mute-btn input:checked + label::after {
    content:'';
    width:2px;
    height:13px;
    position:absolute;
    top:0;
    left:6px;
    background:#a00;
}
.mute-btn input:checked + label::before {
    transform:rotate(45deg);
}
.mute-btn input:checked + label::after {
    transform:rotate(-45deg);
}

.fret-markers {
    position:absolute;
    top:0;
    left:16px;
}
.fret-markers circle {
    pointer-events:none;
}
